<template>
    <section class="d-flex justify-content-center mt-5">
        <div class="p-5 col-md-10 card-b shadow">
            <h1 class="font-weight-bold">{{ title }}</h1>
            <div class="mt-4">
                <div class="text-right">
                    <slot name="button"></slot>
                </div>
                <slot name="content"></slot>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        props: {
            title: String
        }
    }
</script>
