<template>
    <section>
        <AppLayout title="Manage Campaigns">
            <template #button>
                <button
                    @click="$router.push({
                        name: 'Campaign.Management.Create'
                    })"
                    class="btn btn-primary">
                    Create campaign
                </button>
            </template>
            <template #content>
                <div v-if="showLightBox">
                    <light-box :media="creativePreviewImages" @onClosed="() => showLightBox = false" :showLightBox="showLightBox"></light-box>
                </div>
                <table class="table mt-4">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">From</th>
                        <th scope="col">To</th>
                        <th scope="col">Daily budget</th>
                        <th scope="col">Total budget</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(campaign, i) in campaigns">
                        <th scope="row">{{ i+1 }}</th>
                        <td>{{ campaign.name }}</td>
                        <td>{{ $moment(campaign.from).format('MMMM Do YYYY') }}</td>
                        <td>{{ $moment(campaign.to).format('MMMM Do YYYY') }}</td>
                        <td>{{ campaign.daily_budget }}</td>
                        <td>{{ campaign.total_budget }}</td>
                        <td>
                            <button class="btn btn-outline-primary mr-2" @click="preview(campaign)">Preview</button>
                            <button class="btn btn-primary" @click="editCampaign(campaign.id)">Edit</button>
                            <button class="btn btn-danger" @click="deleteCampaign(campaign.id, i)">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </template>
        </AppLayout>
    </section>
</template>

<script>
import LightBox from 'vue-image-lightbox'

 export default {
     data(){
         return {
             campaigns: [],
             creativePreviewImages: [],
             selectedCampaign: {},
             showLightBox: false
         }
     },
     components: {LightBox},
     methods: {
         preview(campaign){
             let banners = JSON.parse(campaign.banners)
             this.creativePreviewImages = banners.map(v => ({
                 thumb: `/uploads/${v}`,
                 src: `/uploads/${v}`,
             }))
             this.showLightBox = true
         },
         editCampaign(id){
             this.$router.push({
                 name: 'Campaign.Management.Edit',
                 params: {
                     id
                 }
             })
         },
         deleteCampaign(id, index){
             if (confirm('Are you sure you want to delete?')){
                 this.$httpRequest.delete(`api/campaigns/delete/${id}`).then(() => {
                     this.campaigns.splice(index, 1)
                     this.$toast.success('Campaign successfully deleted')
                 })
             }
         }
     },
     mounted() {
         //test axios service
         this.$httpRequest.get('api/campaigns').then(r => {
             this.campaigns = r.data.data
         })
     }
 }
</script>

