<template>
    <section>
        <AppLayout title="Create Campaign">
            <template #content>
                <div class="mb-4">
                    <button
                        @click="$router.push({
                        name: 'Campaign.Management'
                    })"
                        class="btn btn-primary">
                        Go back
                    </button>
                </div>
                <div class="form-group mb-4">
                    <label class='d-flex font-weight-normal objective-form-label'>Name
                        <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" v-model="form.name"
                           placeholder="Input title">

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group mb-4">
                            <label class='d-flex font-weight-normal objective-form-label'>From
                                <span class="text-danger">*</span>
                            </label>
                            <v-date-picker format="YYYY-MM-DD hh:mm:ss" mode="dateTime" v-model="form.from" />

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group mb-4">
                            <label class='d-flex font-weight-normal objective-form-label'>To
                                <span class="text-danger">*</span>
                            </label>
                            <v-date-picker format="YYYY-MM-DD hh:mm:ss" mode="dateTime" v-model="form.to" />
                        </div>
                    </div>
                </div>
                <div class="form-group mb-4">
                    <label class='d-flex font-weight-normal objective-form-label'>Total budget
                        <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" @keypress="IsNumber" v-model="form.total_budget"
                           placeholder="Input total budget">

                </div>
                <div class="form-group mb-4">
                    <label class='d-flex font-weight-normal objective-form-label'>Daily budget
                        <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" @keypress="IsNumber" v-model="form.daily_budget"
                           placeholder="Input daily budget">

                </div>
                <div class="form-group mb-4">
                    <label class='d-flex font-weight-normal objective-form-label'>Banners
                        <span class="text-danger">*</span>
                    </label>
                    <div class="row mb-3">
                        <div class="col-md-2" v-for="(image, i) in campaignImages">
                            <div>
                                <img class="imagePreview" :src="`/uploads/${image}`">
                            </div>
                            <div>
                                <button class="btn btn-danger" @click="() => {
                                    campaignImages.splice(i, 1)
                                }">Delete</button>
                            </div>
                        </div>
                    </div>
                    <UploadImages uploadMsg="upload campaign banners" fileError="images files only accepted" @changed="handleImages" />
                </div>
                <div class="form-group mb-4">
                    <button
                        :disabled="submitting"
                        @click="createOrUpdateCampaign"
                        class="btn btn-primary">
                        {{ submitting ? 'Processing...' : 'Submit' }}
                    </button>
                </div>
            </template>
        </AppLayout>
    </section>
</template>

<script>
import UploadImages from "vue-upload-drop-images"

 export default {
     components: {UploadImages},
     data(){
         return {
             form: {
                 banners: []
             },
             campaignImages: [],
             uploadedFiles: [],
             filteredFiles: [],
             submitting: false,
         }
     },
     mounted() {
         if (this.$route.params.id){
             this.$httpRequest.get(`api/campaigns/view/${this.$route.params.id}`).then(r => {
                 const {created_at, updated_at, banners, ...rest} = r.data
                 this.form = rest
                 this.campaignImages = JSON.parse(r.data.banners);
             })
         }

     },
     methods: {
         createOrUpdateCampaign(){
             this.submitting = true
             // headers set to multipart/form-data
             const headers = {
                 'Content-Type' : 'multipart/form-data'
             }
             this.form.from = this.$moment(this.form.from).format("YYYY-MM-DD hh:mm:ss");
             this.form.to = this.$moment(this.form.to).format("YYYY-MM-DD hh:mm:ss");
             if (this.$route.params.id) this.form['existingFiles'] = this.campaignImages;

             var formData = new FormData();
             this.uploadedFiles.forEach(v => {
                 formData.append("banners[]", v) // upload if it's not uploaded yet
             })
             Object.keys(this.form).forEach(v => {
                 if (v === 'existingFiles'){
                     this.campaignImages.forEach(i => {
                         formData.append('existingFiles[]', i)
                     })
                 }else {
                     formData.append(v, this.form[v])
                 }
             })

             if (this.$route.params.id){
                 this.$httpRequest.post(`api/campaigns/update/${this.$route.params.id}`, formData, {
                     headers
                 }).then(r => {
                     this.$toast.success(r.data.message, 'Success')
                     this.$router.push({
                         name: 'Campaign.Management'
                     })
                 })
                     .finally(() => this.submitting = false)
             }else {
                 this.$httpRequest.post('api/campaigns/create', formData, {
                     headers
                 }).then(r => {
                     this.$toast.success(r.data.message, 'Success')
                     this.$router.push({
                         name: 'Campaign.Management'
                     })
                 })
                     .finally(() => this.submitting = false)
             }
         },

         handleImages(evt){
             this.uploadedFiles = evt
         },

         IsNumber(event) {
             if (!/\d/.test(event.key) && event.key !== '.') return event.preventDefault();
         }
     }
 }
</script>

<style lang="scss" scoped>
.imagePreview {
    width: 100px;
    height: 100px;
}
</style>
